<div class="view-friends">
  <p>
    Dozens of truly brilliant and talented people have helped <i>Dopamine</i>
    come to fruition through fact-checking, editorial assistance, and
    simple emotional support and encouragement. Many of them, unsurprisingly,
    have pretty spectacular creative projects of their own. Check out some of
    their work below!
  </p>

  <div class="spaced-item">
    <a href="https://plus.google.com/110315349905939300717/posts">
      Agents For ADA
    </a>
    <div class="indented">
      <p>
        Set in the universe of the
        <a href="http://www.ingress.com/"><em>Ingress</em> augmented reality game</a>,
        Daniel Casper <i>et. al.</i> tell the tale of a group of Resistance
        fighters as they battle for control of their own destinies against the
        enigmatic Shapers and their collaborators.
      </p>
    </div>
  </div>

  <div class="spaced-item">
    <a href="http://www.amazon.com/Story-Greed-Disaster-Street-Trader/dp/1467509906">
      How Do You Like Me Now? A True Story of Greed, Fear, and
      Disaster as a Wall Street Day Trader
    </a>
    <div class="indented">
      <p>
        For five whiplash-inducing years in the late 1990s, Robert James Perrego
        worked as a day trader at WorldCo, one of the highest-volume pressure
        cookers on Wall Street. This short book is a
        no-holds-barred memoir of greed, passion, heartbreak, and perseverance.
      </p>
    </div>
  </div>

  <div class="spaced-item">
    <a href="http://www.chiptography.com">
      Chiptography
    </a>
    <div class="indented">
      <p>
        Marjorie Becker goes to chiptacular electronic music shows
        and takes photos of the DJ and crowd in full swing. It's every
        <span style="font-family: Courier">bit</span>
        as much nerd-bopping fun as it sounds. Check out
        her camerawork, buy her book, and sign her up for your next
        chip music concert!
      </p>
    </div>
  </div>

  <div class="spaced-item">
    <a href="http://www.amazon.com/Swordsmans-Guild-7th-Sea-7152/dp/1887953426">
      7th Sea: Swordsman's Guild
    </a>
    <div class="indented">
      <p>
        Woe befall the foe that crosses the path of Aaron Chusid! Wielding
        a rapier in one hand and a pen in the other, Aaron <i>et. al.</i>
        scribe the sourcebook for the dashing duellers of the 7th Sea
        game world.
      </p>
    </div>
  </div>

  <div class="spaced-item">
    <a href="http://taliesenrose.com/">
      Taliesen Rose
    </a>
    <div class="indented">
      <p>
        Actress, singer, and voice-over artist &mdash; mixing the
        gumption of Australia with the sophistication and talent of
        New York City, and bringing it all to sunny San Diego!
      </p>
    </div>
  </div>

  <div class="spaced-item">
    <a href="http://www.thejennygrace.com/">
      Jenny Grace
    </a>
    <div class="indented">
      <p>
        With beauty rivalled only by her talent, strength, and outspoken 
        eloquence, Jenny Grace seizes the NYC theatre and indie film scenes with
        tiger-like ferocity. When she's not starring in productions such as <a href="https://www.indiegogo.com/projects/completely-normal-an-independent-feature-film">
        <i>Completely Normal</i></a>, she's writing and producing her own original
        pieces like <a href="https://www.facebook.com/RelentAnIndieMusical"><i>
        Relent: An Indie Musical</i></a>. And when she's not doing any of <em>that</em>,
        she's strangling men twice her size at Tiger Schulmann's Mixed Martial
        Arts gym. <a href="https://twitter.com/thejennygrace">Follow her on Twitter!<a>
      </p>
    </div>
  </div>

</div>
