<div class="view-author" xmlns="http://www.w3.org/1999/html">
  <div class="authorbio">
    <div class="authorphoto-holder">
      <div class="authorphoto"></div>
    </div>

    <div class="authortext">
      <p>
        Mikhail Voloshin recently left an engineering position at
        <a href="http://www.google.com/doubleclick/"><span>Google</span></a>
        to go write analytic software for the finance industry.
        He attended the
        <a href="http://illinois.edu/"><span>
          University of Illinois at Urbana-Champaign
        </span></a>
        during
        the 1990s, where he earned a BS in computer science (with a specialization
        in machine learning/artificial intelligence) and began a Ph.D. in
        neurobiology. He left in 2001 for a job with Microsoft's
        <a href="http://msdn.microsoft.com/en-us/library/ms723627(v=vs.85).aspx">
          <span>speech recognition team</span></a>.
        Once in Seattle, he
        worked briefly for biotechnology research lab
        <a href="http://en.wikipedia.org/wiki/Icos"><span>Icos</span></a>
        (now <a href="http://www.cmcbio.com/"><span>CMC Biologics</span></a>). 
        He soon joined
        <a href="http://cococorp.com"><span>
          CoCo Communications</span></a>, a small developer of experimental military
        communication
        systems, where he began penning this tale. He now lives in New York City.
      </p>
      <p>
        He can be reached at dopaminenovel -at- gmail.com.
      </p>
    </div>
  </div>

  <h2>Projects, presentations, &amp; publications</h2>

  <div class="spaced-item">
    <div>
      <div class="item-title">
        Brooklyn Brainery: 
        <a href="http://brooklynbrainery.com/courses/computer-hacking-for-everyone" >
          Computer Hacking for Everyone
        </a>
        and 
        <a href="https://brooklynbrainery.com/courses/rise-of-the-machines-a-history-of-computer-technology" 
            >
          Rise of the Machines: A History of Computer Technology
        </a>
      </div>
      <div class="indented">
        Voloshin occasionally teaches at an awesomesauce learning co-op called the
        <a href="http://brooklynbrainery.com/">Brooklyn Brainery</a>.
        His teachings include an introductory course on computer
        hacking and a whirlwind overview of the history of computer technology.
        Come check it out!
      </div>
    </div>
  </div>

  <div class="spaced-item">
    <div>
      <div class="item-title">
        <a href="http://www.igi-global.com/book/emerging-methods-predictive-analytics/84177">
          Emerging Methods in Predictive Analytics: Risk Management and Decision-Making
        </a>
      </div>
      <div class="indented">
        In this industry reference textbook about
        machine learning applications in the security industry, Voloshin
        contributes chapters describing algorithms from the world of artificial intelligence and
        predictive analytics, and shows how they can be applied to network security. In <a href="http://books.google.com/books?id=mfaWBQAAQBAJ&lpg=PR20&ots=PYBaEZ8oZb&dq=voloshin%20predictive%20analytics&pg=PA127#v=onepage&q&f=false" >Predictive Network Defense</a>, Voloshin delves into
        how to use clustering and decision-tree algorithms to improve network
        firewalls. In <a href="http://books.google.com/books?id=mfaWBQAAQBAJ&lpg=PR20&ots=PYBaEZ8oZb&dq=voloshin%20predictive%20analytics&pg=PA254#v=onepage&q&f=false" >Biometric Authentication</a>, he presents a technique
        for building a statistical model of a user's keyboard typing patterns
        to determine if a hacker has co-opted a user's console.
      </div>
    </div>
  </div>

  <div class="spaced-item">
    <div>
      <div class="item-title">
        <a href="http://www.youtube.com/watch?v=Mi14KwP1TyM&t=51m10s" >
          AngularJS Meetup: Unit Test Pollution
        </a>
      </div>
      <div class="indented">
        Engineers use unit tests to find and eliminate software defects before
        their software goes to production. Here, Voloshin meets with developers of
        the popular
        <a href="http://angularjs.org/" >
          AngularJS front-end web framework</a>, and presents a series
        of common mistakes that engineers make while building their unit tests,
        thereby letting potentially dangerous bugs slip into the
        released product.
      </div>
    </div>
  </div>

  <div class="spaced-item">
    <div>
      <div class="item-title">    
        <a href="http://www.life.illinois.edu/slugcity/cyberslug.html" >
          UIUC: CyberSlug
        </a>
      </div>
      <div class="indented">
        Some downright ancient work Voloshin did back in graduate school.
        His research was in invertebrate nervous systems; specifically,
        he looked at the dismantled brains of
        <a href="http://en.wikipedia.org/wiki/Pleurobranchaea" >sea slugs</a>
        and built simulations of their neural connections both in software
        and in analog electronics.
        Nobody click on this; it's more embarrassing than naked baby photos.
      </div>
    </div>
  </div>

</div>
