<div class="view-biotech">
  <p>
    <i>Dopamine</i> offers the reader a look inside the world of genetic
    engineering as actually practiced in today's reality.
    Genetic engineering has been a science fiction trope since 
    <a href="http://www.gutenberg.org/ebooks/159">long before the
      discovery of DNA</a>, but only in very recent years has it begun
    to be a regular part of real people's everyday lives.
    The notes
    below offer the interested reader some insight into the actual
    implementation of recombinant DNA, with links to resources for
    more information.
  </p>
  <p>
    Mild spoilers lie ahead.
  </p>

  <div class="infolist">

    <div class="infolistitem">
      <a class="infolistitem-header notready">
        DNA extraction (try this at home!)
      </a>
      <div class="infolistitem-content">
        <div class="infolistitem-collapsed">
          <p>
            <em>Coming soon!</em>
          </p>
        </div>
      </div>
    </div>    
  </div>

  <br/>
  <i>More coming soon, stay tuned!</i>
</div>
