<div class="synopsis">
  <p>
    Danny, an onetime computer whiz-kid now in his late thirties, is still lamenting 
    his latest dot-com failure when tech investor Jason Tuttle offers him a special 
    assignment: hack into Tungsten Medical Technologies and steal their pharmaceutical 
    research.
  </p>
  <p>
    At first, Danny and his team of semi-competent geeks relish the chance to play-act 
    as cybercriminals, but they soon discover they are not the only ones interested in 
    the secretive biotechnology firm. Their ill-timed computer shenanigans interrupt an 
    armed break-in of the laboratory by the Russian mafia, and Danny lands squarely in 
    the crosshairs of a local cocaine kingpin. He soon finds himself hunted by drug 
    dealers and exploited by Machiavellian corporate moguls in a battle over a test 
    tube of genetically engineered bacteria.
  </p>
  <p>       
    With the help of Tina, an amateur microbiologist desperate for professional recognition, 
    Danny must use his technical skills to elude his powerful pursuers &mdash; and, 
    with luck, even beat them at their own game.
  </p>
</div>
