body {
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 28px;
  margin: 40px 80px;
  page-break-before: right;
}

p {
  margin-bottom: 0;
  margin-top: 0;
  orphans: 3;
  text-indent: 5ex;
  widows: 3;
}
.chapsection p:first-child {
  text-indent: 0;
}


sup, sub {
  font-size: 10px;
  line-height: 0;
}

/* Flourishes */
hr {
  margin: auto;
  margin-top: 3em;
  border: none;
  border-top: solid 1px #aaa;
  border-bottom: solid 1px #aaa;
  color: #aaa;
  text-align: center;
  width: 75%;
  height: 1ex;
  margin-bottom: 3em;
}
hr:after {
  content: "";
  max-width: 385px;
  background: white url('../img/500px-Dopamine2.svg_.png');
  border: none;
  height: 40px;
  background-size: contain;
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  width: 100px;
  background-repeat: no-repeat;
  background-position: center center;
}

.underlined {
  text-decoration: underline;
}

/* Chapters and sections. */
.actbreak {
  font-size: 80px;
  margin-bottom: 2em;
  margin-top: 1em;
  padding-top: 2em;
  text-align: center;
  page-break-before: right;
}

.chapsection {
}

.chapter {
  page: chapterpage;
}

.chapter .chaptername {
  font-size: 0px;
  opacity: 0;
}

.chapter .chapternumber {
  font-size: 50px;
  margin-bottom: 3em;
  margin-right: 1.5em;
  margin-top: 1em;
  text-align: right;
  page-break-before: always;
}

.blankpage {
}

.epigraphpage {
  margin-top: 5em;
  page-break-before: right;
}

.titlepage {
  text-align: center;
}
.titlepage  .booktitle {
  color: #7997df;
  font-size: 120px;
  font-variant: small-caps;
  font-weight: bold;
  line-height: 1em;
  /*margin-bottom: .5em;*/
  margin-top: .5em;
  xxx-text-shadow: 2px 2px 2px #102041, -1px -1px 1px #102041;
}
.titlepage .authorbyline {
  font-style: italic;
  margin-top: 1em;
}
.titlepage .authorname {
  font-weight: bold;
}

/* Copyright */
.copyrightpage {
  color: #444;
  font-size: 14px;
  margin-top: 6em;
  max-width: 40em;
  page-break-before: always;
  text-align: left;
  vertical-align: bottom;
}
.copyrightpage * {
  margin-top: 2em;
}
.copyrightpage .booktitle-redux {
  font-variant: small-caps;
}

#storystart {
  page: storystartpage;
}


.blankpage {
  page-break-before: always;
}

.tocpage {
  font-size: 14px;
  line-height: 22px;
  margin-top: 120px;
  page: tocpage;
  page-break-before: always;
}
.tocpage ol {
  list-style-type: none;
  padding-left: 0;
}
.tocpage li {
  margin: 0;
  margin-left: 20px;
}
.tocpage .toc-actbreak {
  font-weight: bold;
  margin-top: 12px;
}

#story {
  page: storypage;
}

.actbreak {
  padding-top: 2em;
}

.chapter {
}

.printonly {
  display: none;
}

.acknowledgementschapter  {
  font-size: 12px;
  line-height: 24px;
}

.acknowledgementschapter .chapternumber {
  font-size: 20px;
  margin-bottom: 1em;
  text-align: left;
}
.acknowledgementschapter  p:first-child {
  text-indent: 0;
}

/* Cap lead. */
.caplead {
  font-variant: small-caps;
}
  
.chapsection {
  margin-top: 4em;
}

/* Thoughts. */
.think {
/*  color: #448;*/
  font-style: italic;
}

/* The End. */
.theend {
  color: #aaa;
  font-variant: small-caps;
  margin-top: 60px;
  text-align: center;
}


/* Blockquote. */
.prechapter  {
  font-weight: bold;
  margin-right: 2em;
  padding-right: 0;
  text-align: right;
}

.prechapter .attrib {
  font-weight: normal;
  font-style: italic;
}

/* Computer stuff. */
.computer {
  color: #040;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: -.1ex;
}

pre.computer, .computer.email {
  margin-bottom: 2em;
  margin-top: 2em;
  padding:  20px 80px 20px 40px;
}

span.computer {
}

.formcommentbox {
  border: 1px solid #9a9;
}

.cyberchat {
  margin-bottom: 1em;
}

.cyberchat .speaker {
  font-weight: bold;
}
  
.cyberchat  .message {
  background: rgba(248, 255, 248, 200); 
  border: 1px solid #9a9;
  border-radius: 8px;
  box-sizing: border-box;
  display: table;
  margin-top: 1em;
  max-width: 75%;
  padding: .5ex .75em;
}

.cyberchat  .messagein {
}

.cyberchat  .messageout {
  margin-left: auto;
  text-align: right;
}

.messagein + .messagein, 
.messageout + .messageout {
    margin-top: 0.25em;
}

/* Media overrides. */
@media print {
  p {
    orphans: 2;
    text-align: justify;
    text-indent: 3ex;
    widows: 2;
  }

  img {
    width: 66%;
  }
  
  hr {
    transform: scale(.66);
    border-top: solid .25px #aaa;
    border-bottom: solid .25px #aaa;
    color: #aaa;
  }

  /* Drop cap. */
  .chapsection p:first-child:first-letter { 
    color: #903; 
    float: left; 
    margin-right: .25ex;
    font-size: 300%; 
    line-height: 100%;
  }

  @page {
    margin: 0.5in;
    margin-top: 1in;
    size: 5.833in 8.264in;
  }
  @page:left {
    margin-right: 1in;
  }
  @page:right {
    margin-left: 1in;
  }

  @page chapterpage:left {
    @top-center {
      content: "Mikhail Voloshin";
      font-style: italic;
      margin-top: 0;
    }
    @top-left {
      content: counter(page);
      font-style: italic;
      margin-top: 0;
      margin-left: 20%;
    }
  }

  @page chapterpage:right {
    @top-center {
      content: "Dopamine";
      font-variant: small-caps;
      margin-top: 0;
    }
    @top-right {
      content: counter(page);
      font-style: italic;
      margin-top: 0;
      margin-right: 20%;
    }
  }

  body {
    color: #000;
    font-family: Palatino;
    font-size: 11pt;
    margin: 0;
    line-height: 14pt;
  }
  pre.computer, .computer.email {
    padding-left: 10px;
    padding-right: 0;
  }

  .computer {
    font-size: 9pt;
  }

  .printonly {
    display: initial;
  }
  
  .tocpage {
    display: none;
  }

  .chaptername {
    display: none;
  }

  .chapter .chapternumber {
    margin-right: 0;
  }

  .cyberchat  .messagein {
    margin-right: 100px;
  }
  
  .cyberchat  .messageout {
    margin-left: 100px;
    text-align: right;
  }
}

@media (max-width:799px) {
  pre.computer, .computer.email {
    padding-left: 10px;
    padding-right: 0;
  }
}