@import 'elements.less';
@import 'storycontents.less';
@import 'fonts.css';

@color-action: #b00000;
@color-action-hover: #f00;
@color-action-hover-shadow: #800;
@color-background: #161616;
@color-burst: #fa4;
@color-burst-border: #000;
@color-foreground: #c0c0c0;
@color-midground: #5f80a3; 
@color-shadow: #7997df;
@color-softgray: #444;

@color-link: #fff;
@color-linkshadow: #444;
@color-currentlink: #f00;
@color-currentlinkshadow: #600;

@color-cyberforeground: #fff; //#0af;
@color-cybershadow: #008;
@color-cyberhighlight: #bbb;
@color-cyberoutline: rgba(60, 160, 100, .6);
@color-cybersatin: rgba(0, 0, 0, .65);
@color-cybersatin-shadow: rgba(0, 0, 60, .8);
@color-cyberglow: #fff;

@color-dimtext: #888;
@color-dimshadow: #444;

@font-header: inherit;
@font-title: Research;


body {
  background-color: @color-background;
  color: @color-foreground;
  font-family: Georgia, serif;
  line-height: 1.5em;
  min-width: 1060px;
  text-align: center;
}

.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.textselect {
  cursor: auto;
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}


.silvergradient {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #dddddd 40%, #999999 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(40%,#dddddd), color-stop(100%,#999999)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#dddddd 40%,#999999 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#dddddd 40%,#999999 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#dddddd 40%,#999999 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#dddddd 40%,#999999 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#999999',GradientType=0 ); /* IE6-9 */
}

header {
  text-align: right;
  margin: 0 0 20px;
  
  h2 {
    float: left;
  }
}

a {
  color: @color-link;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 1px @color-linkshadow;
    
  &:hover,
  &:hover {
    color: @color-cyberglow;
    text-decoration: underline;

    &.nounderline {
      text-decoration: none;
    }

    .hoverunderline {
      text-decoration: underline;
    }
  }
  
  &:active,
  &.active {
    color: @color-currentlink;
    text-decoration: none;
    text-shadow: 1px 1px 1px @color-currentlinkshadow;
  }

  &.notready {
    color: gray;
  }
}

p {
  margin-top: 0;
}

h1, h2 {
  color: @color-cyberforeground;
  cursor: default;
  font-variant: small-caps;
  line-height: 1em;
  margin: 0;
  text-shadow: 2px 2px 2px @color-cyberoutline,
    -2px -2px 2px @color-cyberoutline;

  a {
    color: inherit;
    text-shadow: inherit;
    transition: all 0.2s ease;

    &:hover {
      text-decoration: none;
      text-shadow: 2px 2px 2px @color-foreground,
        -1px -1px 1px @color-foreground,
        0 0 15px @color-shadow;
    }

    &:active {
      text-decoration: none;
      color: white;
    }
  }
}

h1 {
  font-family: @font-title;
  font-size: 64px;
}

h2 {
  font-family: @font-header;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

strong {
  color: @color-cyberhighlight;
}

.page {
  box-sizing: border-box;
  margin: auto;
  padding: 10px;
  width: 960px;
}

.satin {
  .rounded(20px);
  border: 4px solid black;
  background: @color-cybersatin;
}

.main {
  .satin;
  padding: 10px;
  text-align: left;
}

.siteblurb {
  .siteblurb-callout {
    color: @color-cyberhighlight;
    font-weight: bold;
  }
}

.sitename {
  height: 1em;
}

.main-pullquote {
  .satin;
  box-sizing: border-box;
  float: left;
  font-style: italic;
  padding: 10px;
  text-align: left;
  width: 440px;
  
  em {
    color: @color-cyberhighlight;
    font-weight: bold;
  }
  
  .quotemark {
    color: white;
    font-size: 300%;
    margin: 5px;
    text-shadow: 1px 1px @color-cybershadow;
    
    &.quote-left {
      float: left;
    }
    &.quote-right {
      float: right;
    }
  }
}

.bookshot-holder {
  margin-bottom: 20px;
}

.bookshot {
  .rounded(20px);
  background-image: url('/img/kat-book-mock.jpg');
  background-size: cover;
  box-shadow: 0 0 20px black inset, 0 0 10px rgba(0, 0, 0, .8);
  height: 380px;
  width: 380px;
}

.promo {
  display: inline-block;
  position: relative;
  text-align: center;  
  vertical-align: top;
  width: 380px;

  .fb-like, .fb-like-box {
    background: rgba(40, 40, 40, .6);
    box-sizing: border-box;
    margin: auto;
  }
}

.fb-like-box-holder {
  margin-top: 40px;
  
  .fb-like-box {
    background: rgba(40, 40, 40, .5);
  }
}

.readnow {
  .rotation(-30deg);
  background-image: url('/img/starburst-gray.svg');
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
  color: @color-action;
  display: block;
  height: 160px;
  left: -70px;
  padding: 40px 30px 0;
  position: absolute;
  text-shadow: 1px 1px 1px black;
  top: -50px;
  transition: all 0.2s ease;
  width: 160px;

  .promo:hover & {
    color: @color-action-hover;
    text-shadow: 1px 1px 1px @color-action-hover-shadow;
  }

  .readnow-text {
    font-size: 24px;
    text-align: center;
  }
}

.readfullstory-leading-text {
  text-align: center;
  margin-top: 4em;
}

.readfullstory {
  .silvergradient();
  border: 3px solid @color-burst-border;
  border-radius: 8px;
  box-sizing: border-box;
  color: @color-action;
  font-size: 20px;
  margin-bottom: 40px;
  padding: 8px;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  transition: all 0.2s ease;
  width: 100%;

  &:hover {
    color: @color-action-hover;
    text-shadow: 1px 1px 1px @color-action-hover-shadow;
  }

  a {
    color: inherit;
    text-decoration: none;
    text-shadow: inherit;
  }
}

nav {
  .rounded(10px);
  .silvergradient();
  border: 1px solid #666;
  font-family: @font-header;
  font-weight: bold;
  font-variant: small-caps;
  margin-bottom: 2em;
  padding-left: 10px;
  text-align: center;
  white-space: nowrap;

  a {
    text-shadow: 1px 1px 1px #000, 
        -1px -1px 1px #000, 
        1px -1px 1px #000, 
        -1px 1px 1px #000;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    li {
      display: inline-block;
      margin-right: 20px;
    }
  }
}

.pagecontents {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
  width: 500px;
}

article {
  .rounded(20px);
  margin-bottom: 20px;
  padding: 0 20px 20px;
}

.authorbio {
  border-bottom: 1px solid @color-softgray;

  .authorphoto-holder {
    float: left;
    padding-right: 20px;

    .authorphoto {
      background-image: url('/img/author.jpg');
      background-size: cover;
      display: inline-block;
      height: 150px;
      width: 150px;
    }
  }

  .authortext {
  }
}


.social {
  text-align: center;
}

.indented {
  padding-left: 20px;
}

.spaced-item {
  margin-bottom: 20px;
}

.item-title {
  font-weight: bold;
}

.infolist {
  .infolistitem {
    .infolistitem-header {
      cursor: pointer;
    }

    .infolistitem-content {
      .indented;
      height: 0;
      opacity: 0;
      overflow: hidden;
      transition: all .5s ease;

      .infolistitem-collapsed {
        padding-bottom: 20px;
      }
    }
  }
}

.storyreader {
  .chapterlistsidebar {
    display: inline-block;
    margin-left: 10px;
    width: 150px;
    vertical-align: top;
  }

  nav {
    .rounded(20px);
    background: rgba(255, 255, 255, .1);
    border: 2px solid #444;
    font-size: 90%;
    padding-bottom: 20px;
    padding-left: 20px;
    text-align: left;

    li {
      display: block;
      margin-bottom: inherit;
    }
    
    a {
      padding-left: 10px;
    
      &.currentchapter {
        color: @color-currentlink;
        cursor: default;
        text-shadow: 1px 1px 1px @color-currentlinkshadow;

        &:hover {
          text-decoration: none;
        }
      }
    }
    
    .chapteract {
      color: @color-dimtext;
      font-size: 140%;
      padding-top: 20px;
      text-shadow: 1px 1px 1px @color-dimshadow;
    }
    
    .downloadfulltext {
      .chapteract {
        padding-top: 60px;
      }
      
      a {
        background-position: left center;
        background-repeat: no-repeat;
        padding-left: 20px;
      }
      
      a#fulltext_html {
        background-image: url('/img/icons/html-16.png');
      }

      a#fulltext_pdf {
        background-image: url('/img/icons/pdf-16.png');
      }

      a#fulltext_kindle {
        background-image: url('/img/icons/kindle-16.png');
      }

      a#fulltext_epub {
        background-image: url('/img/icons/epub-16.png');
      }
    }
  }
  
  .storyspaceholder {
    display: inline-block;
    margin-left: 20px;
    width: 720px;
    vertical-align: top;
  }

  .storyspace {
    background: white;
    border: 2px solid black;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 60px;
  }
  
  .prevnextchapter {
    margin-left: 20px;
    padding-bottom: 60px;
    position: relative;
    width: 680px;
    
    .prevlink {
      left: 0;
      position: absolute;
    }

    .nextlink {
      position: absolute;
      right: 0;
    }
  }
}

.fbchaptercomments {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

.fblikeinline {
  display: inline-block;
}

.fblikechapterbottom, .fblikechapterlistsidebar {
  text-align: center;
}


